<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:obejct="${person}">
    <label for="name">Enter Name:</label>
    <input type="text" th:field="*{person.name}" id="name"/>
    <p style="color: red" th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}"> Name Error </p> <!--выводим инфо если есть ошибка-->
    <br/>

    <label for="age">Enter age</label>
    <input type="text" th:field="*{person.age}" id="age"/>
    <p style="color: red" th:if="${#fields.hasErrors('person.age')}" th:errors="*{person.age}"> Age Error </p>
    <br/>

    <label for="email">Enter email</label>
    <input type="text" th:field="*{person.email}" id="email">
    <p style="color: red" th:if="${#fields.hasErrors('person.email')}" th:errors="*{person.email}"> Name Error </p>
    <br/>

    <input type="submit" value="Update!">
</form>

</body>
</html>